.confirmPasswordPage{
    background-color: #f8f9f9;
}
.btn-secondary {
    background-color: #e67700 !important;
    border: none;
}

.center-image{
    width: 100%;
    margin: 0 auto;
}

.center-img {
    display: block;
    margin:  1em auto 0 auto;
}